@page
@model OAuthWebApp.Pages.LoginModel
@{
}

<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h1 class="display-4">Welcome, Please log in</h1>
        </div>
        <br />
        <a asp-action="Login" asp-controller="Auth" class="btn btn-outline-success">Log In with GitHub</a>
    </div>
</div>